.object-collection {
	width: 96%;
	padding-top: 25px;
	//border: 2px solid black;

	.obj-col-article {
		border: 2px solid darkorange;
		border-radius: 5px;
		background-image: url('../../assets/images/staff/bg.jpg');
		background-repeat: no-repeat;
		background-size: 1800%;
		padding: 5px;
		margin-bottom: 11px;
		margin-right: 111px;
		width: 97%;
		height: 380px;
		display: inline-block;

		a h4 {
			color: silver;
		}

		.obj-col-article-text {
			a .obj-col-article-img {

			}
		}
	}


	div {
		text-align:center;
		text-shadow: -1px 1px #6FA7D7;
		color: whitesmoke;

		.span-val {
			margin-right: 10px;
		}
	}
}

@media only screen and (min-width : 200px) {
		.object-collection {

		.obj-col-article {
			margin-right: 1.4em;
			width: 100%;
		
			.obj-col-article-text {
				a .obj-col-article-img {
				}
			}
		}
	}
}

@media only screen and (min-width : 320px) {
		.object-collection {

		.obj-col-article {
		
			.obj-col-article-text {
				a .obj-col-article-img {
					height: 280px;
				}
			}
		}
	}
}
@media only screen and (min-width : 580px) {
		.object-collection {

		.obj-col-article {
		width: 45%;
		
			.obj-col-article-text {
				a .obj-col-article-img {

				}
			}
		}
	}

}
@media only screen and (min-width : 768px) {
		.object-collection {
			width: 100%;

		.obj-col-article {
		
			.obj-col-article-text {
				a .obj-col-article-img {

				}
			}
		}
	}
}
@media only screen and (min-width : 992px) {
		.object-collection {

		.obj-col-article {
			width: 29%;
		
			.obj-col-article-text {
				a .obj-col-article-img {

				}
			}
		}
	}
}
@media only screen and (min-width : 1200px)  {
		.object-collection {

		.obj-col-article {
		}
	}

}