.object-collection {
	max-width: 95%;
	padding-left: 15px;
	padding-top: 10px;
	border: 2px solid black;

	.obj-col-article {
		border: 1px solid darkorange;
		background-image: url('../../assets/images/staff/bg.jpg');
		background-repeat: no-repeat;
		background-size: 1800%;
		padding: 5px;
		margin-bottom: 11px;
		margin-right: 11px;
		width: 100%;
		height: 400px;
		display: inline-block;

		a h4 {
			color: silver;
		}

		.obj-col-article-text {
			a .obj-col-article-img {

			}
		}
	}


	div {
		text-align:center;
		text-shadow: -1px 1px darkorange;
		color: whitesmoke;

		.span-val {
			margin-right: 10px;
		}
	}
}

@media only screen and (min-width : 200px) {
		.object-collection {
		max-width: 96%;

		.obj-col-article {
		
			.obj-col-article-text {
				a .obj-col-article-img {
				}
			}
		}
	}
}

@media only screen and (min-width : 320px) {
		.object-collection {
		max-width: 97%;

		.obj-col-article {
		
			.obj-col-article-text {
				a .obj-col-article-img {
					height: 280px;
				}
			}
		}
	}
}
@media only screen and (min-width : 580px) {
		.object-collection {
		max-width: 98%;

		.obj-col-article {
		width: 45%;
		
			.obj-col-article-text {
				a .obj-col-article-img {

				}
			}
		}
	}

}
@media only screen and (min-width : 768px) {
		.object-collection {
		max-width: 99%;

		.obj-col-article {
		
			.obj-col-article-text {
				a .obj-col-article-img {

				}
			}
		}
	}
}
@media only screen and (min-width : 992px) {
		.object-collection {

		.obj-col-article {
			width: 31%;
		
			.obj-col-article-text {
				a .obj-col-article-img {

				}
			}
		}
	}
}
@media only screen and (min-width : 1200px)  {
		.object-collection {

		.obj-col-article {
		}
	}

}