<div class="object-collection">
	{{#each data}}
	<article class="obj-col-article">
		<a href="#/{{this.role}}/{{this._id}}">
			<h4 class="obj-col-article-title">{{this.title}}</h4>
		</a>
		<p class="obj-col-article-text">
			<a href="#/{{this.role}}/{{this._id}}">
				<img class="obj-col-article-img" src={{this.image}} alt="image" width="100%" height="250px">
			</a>
		</p>
		<div>
			<span><i class="glyphicon glyphicon-eye-open" title="views"></i></span>
			<span class="span-val">{{this.looks}}</span>
			<span><i class="glyphicon glyphicon-thumbs-up" title="likes"></i></span>
			<span class="span-val">{{this.likes}}</span>
			<span><i class="glyphicon glyphicon-bookmark" title="bookmarks"></i></span>
			<span class="span-val">{{this.bookmarks}}</span>
			<span><i class="glyphicon glyphicon-comment" title="comments"></i></span>
			<span class="span-val">{{this.commentsNumber}}</span>
		</div>
	</article>
	{{/each}}
</div> 