<div id="about-container">
	<p>
		<p>
			<h3>What is that?</h3>
			That is a blogging and sharing games JavaScript single-page application. It uses on a server side
			<a href="https://nodejs.org/" target="_blank">NodeJS</a>, <a href="https://expressjs.com/" target="_blank">Express</a> and <a href="https://www.mongodb.com/" target="_blank">MongoDB</a>. On a client side -
			<a href="https://github.com/krasimir/navigo" target="_blank">Navigo</a> as a router, <a href="http://handlebarsjs.com/" target="_blank">Handlebars</a> as a templates compiler,
			<a href="https://github.com/systemjs/systemjs" target="_blank">SystemJS</a> as a module loader, <a href="http://jquery.com/" target="_blank">JQuery</a> for ajax requests and DOM manipulations,
			<a href="https://github.com/sytelus/CryptoJS" target="_blank">CryptoJS</a> for hashing, <a href="https://github.com/CodeSeven/toastr" target="_blank">Toast</a> for notifications. The design is supported by
			<a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a>, <a href="http://jqueryui.com/" target="_blank">JQueryUI</a> and <a href="http://sass-lang.com/" target="_blank">Sass</a>.
		</p>
		<hr>
		<h3>What is that about?</h3>
		<p>
			The App is written as Telerik Academy JavaScript Applications course project finishing before the end of May 9th, 2017. <br> 
			Find source code:
			<a href="https://github.com/Sattanaso/CodeAndGames" target="_blank">
			 <img src="./assets/images/staff/github.png" alt="github image" width="25px" height="25px">	Github
			</a>
		</p>
		<hr>
		<h3>Who are the Banana Team?</h3>
		<p>
			Banana Team are:
			<ul>
				<li><a class="btn-primary" target="_blank">sstoimirov</a><span> - missed</span></li>
				<li><a class="btn-success" target="_blank">TanyaRan</a><span> - quitted</span></li>
				<li><a class="btn-danger" target="_blank">Absend</a><span> - 100% banana</span></li>
			</ul>
		</p>
	</p>
</div>