<div id="about-container">
	<p>
		<p>
			<h3>What is that?</h3>
			That is a blogging and sharing games JavaScript single-page application. It uses on a server side
			<a href="">NodeJS</a>, 	<a href="">Express</a> and 	<a href="">MongoDB</a>. On a client side -
			<a href="">Navigo</a> as a router, <a href="">Handlebars</a> as a templates compiler,
			<a href="">SystemJS</a> as a module loader, <a href="">JQuery</a> for ajax requests and DOM manipulations,
			<a href="">CryptoJS</a> for hashing, <a href="">Toast</a> for notifications. The design is supported by 
			<a href="">Twitter Bootstrap</a>, <a href="">JQueryUI</a> and <a href="">Sass</a>.
		</p><hr>
		<h3>What is that about?</h3>
		<p>
			It is written as Telerik Academy JavaScript Applications course project finishing before the end of May 9th, 2017.
		</p><hr>
		<h3>Who are the Banana Team?</h3>
		<p>
			Banana Team are:
			<ul>
				<li><a href="" class="btn-primary">sstoimirov</a><span> - missed</span></li>
				<li><a href="" class="btn-success">TanyaRan</a><span> - quitted</span></li>
				<li><a href="" class="btn-danger">Absend</a><span> - 100% banana</span></li>
			</ul>
		</p>
	</p>
</div>