<section class="registration-block">
	<div class="registration-container">
		<form class="registration-form">
			<fieldset>
				<div class="input-group">
					<div class="label-holder">
						<label for="user-email">E-mail:</label>
					</div>
					<input class="form-control" type="email">
				</div>
				<div class="input-group">
					<div class="label-holder">
						<label for="user-name">Full name:</label>
					</div>
					<input class="form-control" type="text">
				</div>
				<div class="input-group">
					<div class="label-holder">
						<label for="user-password">Password:</label>
					</div>
					<input class="form-control" type="password">
				</div><br>
				<button type="submit" class="btn btn-primary">Sign up</button>
			</fieldset>
		</form>

		<div class="log-bottom"><br>
			<a href="#/forgot-password" class="btn btn-info">Forgot your password?</a><br><br>
			<span class="new">
			Do you already have an account? <a class="btn btn-success" href="#/signin">Sign in</a>
			</span>
		</div>
	</div>
</section>