<section class="forgotpass-block">
	<div class="forgotpass-container">
		<form class="forgotpass-form">
			<fieldset>
				<div class="input-group">
					<div class="label-holder">
						<label for="user-email">E-mail:</label>
					</div>
					<input class="form-control" type="email" size="60">
				</div><br>
				<a type="submit" class="btn btn-primary full-width"><h5>Send</h5></a>
			</fieldset>
		</form>

		<div class="log-bottom"><br>
			<span class="new">
			Have an account? <a class="btn btn-success" href="#/signin"><h5>Sign in</h5></a>
			</span>
		</div>
	</div>
</section>