<section class="forgotpass-block">
	<div class="forgotpass-container">
		<h2>Forgot password</h2><hr>
		<form class="forgotpass-form">
			<fieldset>
				<div class="input-group">
					<div class="label-holder">
						<label for="forgot-pass-email">E-mail:</label>
					</div>
					<input id="forgot-pass-email" class="form-control" type="email" size="60">
				</div><br>
				<a id="forgot-password-btn" href="#/forgot-password-btn" class="btn btn-success full-width"><h5>Send</h5></a>
			</fieldset>
		</form><hr>

		<div class="log-bottom"><br>
			<span class="new">
			Don't have an account? <a class="btn btn-primary" href="#/signup"><h5>Sign up</h5></a>
			</span>
		</div>
	</div>
</section>