<section class="changepass-block">
	<div class="changepass-container">
		<form class="changepass-form">
			<fieldset>
				<div class="input-group">
					<div class="label-holder">
						<label for="user-email">E-mail:</label>
					</div>
					<input class="form-control full-width" type="email" size="60">
				</div>
				<div class="input-group">
					<div class="label-holder">
						<label for="user-password">Old password:</label>
					</div>
					<input class="form-control full-width" type="password" size="60">
				</div>
				<div class="input-group">
					<div class="label-holder">
						<label for="user-password">New password:</label>
					</div>
					<input class="form-control full-width" type="password" size="60">
				</div><br>
				<a type="submit" class="btn btn-primary full-width"><h5>Send</h5></a>
			</fieldset>
		</form>

		<div class="log-bottom"><br>
			<a href="#/forgot-password" class="btn btn-info full-width"><h5>Forgot your password?</h5></a><br><br>
			<span class="new">
			Do you already have an account? <a class="btn btn-success" href="#/signin"><h5>Sign in</h5></a>
			</span>
		</div>
	</div>
</section>