@import '../global.scss';

.wrapper #footer {
	padding-top: 15px;
	padding-left: 15px;
	color: darkorange;
	min-height: 150px;
	max-height: 150px;
	background-color: #001020;
	background-image: url('../../assets/images/space-bg.jpg');
	background-repeat: no-repeat;
	background-size: 800%;
	border-top: 2px solid darkorange;

	.footer-contant {
		h5 {
			float: right;
			padding-right: 1.3em;
		}
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
		
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}