@font-face {
	font-family: 'Zhafira';
	src: url('../assets/fonts/MJF Zhafira Demo.ttf');
}

@font-face {
	font-family: 'Sunny';
	src: url('../assets/fonts/Sunny Spring Day - TTF.ttf');
}

@font-face {
	font-family: 'OpenSans';
	src: url('../assets/fonts/OpenSans-Regular.ttf');
}

// * {
// 	text-align: justify
// }

*>hr{
   border: 1px solid #FFFBD0 !important;
}

.hidden-obj {
	visibility: hidden;
}

a:hover {
text-decoration: none
}

*>input {
	border-radius: 5px !important;
	background-color: whitesmoke !important;
}

ul {
	list-style-type: none;
}

.btn {
	height: 36px;

	h5 {
	color: #FFE2AD;
	font-family: 'OpenSans', serif;
	font-weight: bold;
	font-size: 16px;
	text-shadow: -1px 1px black;
	margin-top: 1px;
	}
}

.full-width {
	min-width: 100%;
}
