@font-face {
	font-family: 'Zhafira';
	src: url('../assets/fonts/MJF Zhafira Demo.ttf');
}

@font-face {
	font-family: 'Sunny';
	src: url('../assets/fonts/Sunny Spring Day - TTF.ttf');
}

@font-face {
	font-family: 'OpenSans';
	src: url('../assets/fonts/OpenSans-Regular.ttf');
}

// * {
// 	text-align: justify
// }

*>hr{
   border: 1px solid silver !important;
}


a:hover {
text-decoration: none
}

*>input { 
	border: 1px 2px solid silver!important;
	border-radius: 5px !important;
	background-color: #96cc96 !important;
}

ul {
	list-style-type: none;
}

.btn {
	height: 36px;
	border: 2px solid silver;

	h5 {
	color: darkorange;
	font-family: 'OpenSans', serif;
	font-weight: bold;
	font-size: 16px;
	text-shadow: -1px 1px black;
	margin-top: 1px;
	}
}

.full-width {
	min-width: 100%;
}
