/*==========  Mobile First Method  ==========*/
body {
  background-color: darkorange;
  color: silver;
  text-align: justify; }
  body .wrapper .middle {
    padding-top: 50px; }
    body .wrapper .middle #content, body .wrapper .middle #content-aside {
      border-left: 15px solid #ff8c00;
      border-right: 15px solid #ff8c00;
      min-height: 600px;
      background-color: #556b2f;
      opacity: 0.9;
      padding: 5px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    body .wrapper .middle #content {
      padding-left: 15px; }
  body .wrapper #footer {
    background-color: transparent;
    border-top: 15px solid #ff8c00;
    color: #ff8c00;
    margin-left: -1px;
    min-height: 150px;
    min-width: 100.3%; }

/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  body .wrapper #footer {
    min-width: 100%; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  body .wrapper .middle #content-aside {
    border-left: 0; }
  body .wrapper #footer {
    min-width: 100.1%; } }

/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
