<section class="login-block">
	<div class="login-container">
		<form class="login-form">
			<fieldset>
				<div class="input-group">
					<div class="label-holder">
						<label for="user-email">E-mail:</label>
					</div>
					<input id="signin-email" class="form-control full-width" type="email" size="60">
				</div>
				<div class="input-group">
					<div class="label-holder">
						<label for="user-password">Password:</label>
					</div>
					<input id="signin-password" class="form-control full-width" type="password" size="60">
				</div><br>
				<a id="signin-btn" href="#/signin-send" class="btn btn-success full-width"><h5>Sign in</h5></a>
			</fieldset>
		</form>

		<div class="log-bottom"><br>
			<a href="#/forgot-password" class="btn btn-info full-width"><h5>Forgot your password?</h5></a><br><br>
			<span class="new">
			Don't have an account yet? <a class="btn btn-primary" href="#/signup"><h5>Sign up</h5></a>
			</span>
		</div>
	</div>
</section>