form input {
	color: midnightblue;
}

.add-form div form {
	button.btn.btn-success {
			float: right;
			border: 2px solid #000000;
			margin: 5px;
			width: 33%;
			height: 30px;
			color: #9AC540;
			font-weight: bold;
			font-size: 16px;

			h5 {
				margin-top: -2px;
			}
		}
}

ul.droppable {
	border: 2px solid black !important;
	border-radius: 3px; 
	width: 100%;
	height: 50px;
}

.add-form div .add-title {
		border: 2px solid #000000 !important;
		width: 62%;
}