<div id="text-editor-scripts">
</div>

<div class="add-form">
	<h3>Add {{role}}</h3>
	<hr>
	<div>
		<form id="add-form-{{role}}" action="" method="POST">
			<input type="hidden" name="role" value="{{role}}">
			<input type="hidden" name="likes" value="0">
			<input type="hidden" name="looks" value="0">
			<input type="hidden" name="bookmarksCount" value="0">
			<input type="hidden" name="commentsCount" value="0">
			<label for="title">Title: </label><br>
			<input class="add-title" type="text" name="title" value=""><br><br>
			<label for="title">Image (as url or upload file): </label><br>
			<input id="image-post" class="add-image" type="text" name="image" value=""> 
			<input type="file" value="upload" style="display: inline-block">
			<a href="#/upload-image" class="btn btn-success">Upload</a><br><br>
			<label for="link">Link: </label><br>
			<input class="add-link" type="url" name="link" value=""><br><br>
			<label for="description">Description: </label><br>
			<div myEditorContainer>
				<textarea name="description" id="myEditor"></textarea><br>
			</div>
			<label for="tags">Tags: </label><br>
			<div name="tags" class="droppable"></div><br>
			<a href="#/post/{{role}}" class="btn btn-success"><h5>Submit</h5></a>
		</form>
	</div>

	<script>
		$(function () {
			$('#myEditor').froalaEditor({ toolbarInline: false })
		});
	</script>
</div>