@import '../global.scss';
$header-colors: silver;

#navbar-links {
	background-color: #00102C;
}

#profile-link {
	margin-top: -2px;
	margin-left: 35px;
	border: 3px solid $header-colors;
	border-radius: 25%;
}

#profile-link:hover {
	border-color: #FFFBD0;
}

#profile-a:focus {
	border-color: #FFFBD0;
}

.wrapper #header {
	nav.navbar.nav-header {
		padding-top: 10px;
		background-color: #00102C;
		background-image: url('../../assets/images/staff/bg.jpg');
		background-repeat: no-repeat;
		background-size: 300%;
		border-left: 15px solid $header-colors;
		border-right: 15px solid $header-colors;
		border-radius: 0;

		.nav-colapse-btn {
			background-color: #00102C;
			margin-left: -11px;
			.icon-bar {
				background-color: $header-colors;
			}
		}

		.main-link {
			max-height: 40px;
			margin-top: 7px;
			margin-left: 20px;
			font-family: 'OpenSans', serif;
			font-weight: bold;
			font-size: 19px;
			color: $header-colors;
			background-color: black;

			&:hover {
				color: silver;
			}
 
			&:focus {
				color: silver;
			}
		}

		#brand {
			margin-left: 5px;
			font-family: 'Zhafira', serif;
			color: #085691;
			text-shadow: -1px 1px $header-colors;
			font-size: 42px;

			&:hover {
				color: silver;
				text-shadow: -1px 1px whitesmoke
			}
		}

		.nav-right {
			float: right;
			margin-right: 0.5em;

			li.dropdown>ul>li>a {
				color: silver;
				text-shadow: -1px 1px black;
				&:hover{
					background-color: silver;
				}
			}
		}

		.menu-dropdown {
			background-color: #001020;
			border: 2px solid $header-colors;
			border-radius: 5px;
			margin-left: -3em;
			max-width: 22%;
			font-family: Verdana, Geneva, Tahoma, sans-serif
		}
	}
}

/*==========  Mobile First Method  ==========*/

@media only screen and (min-width : 320px) {
		
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
	.wrapper #header {
		nav.navbar.nav-header {
			.main-link {
				background-color: transparent;
			}
			
			.nav-right {
		}
			
			.menu-dropdown {
				max-width: 100%;
				margin-left: -3.7em;
				margin-top: 1px;
			}
		}
	}
}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {

}
