/*==========  Mobile First Method  ==========*/

#loading {
  margin-left: 45%;
  margin-top: 280px;
}

body {
  background-color: darkorange;
  color: whitesmoke;
  font-size: 16px;
  text-align: justify;
}

body .wrapper .middle {
  padding-top: 80px;
}

body .wrapper .middle #content,
body .wrapper .middle #content-aside {
  min-height: 600px;
  background-color: darkolivegreen;
  opacity: 0.8;
  padding: 5px;
  padding-right: 19px;
  padding-left: 19px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body .wrapper .middle #content {
  border-left: 15px solid darkorange;
  border-right: 15px solid darkorange;
}

body .wrapper .middle #content-aside {
  border-left: 15px solid darkorange;
  border-right: 15px solid darkorange;
  border-top: 5px solid darkorange;
}

body .wrapper #footer {
  background-color: transparent;
  border-top: 15px solid darkorange;
  color: darkorange;
  margin-left: -1px;
  min-height: 150px;
  min-width: 100.3%;
}

/* Custom, iPhone Retina */

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  body .wrapper #footer {
    min-width: 100%;
  }
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  body .wrapper .middle #content {
    border-right: 5px solid darkorange;
  }

  body .wrapper .middle #content-aside {
    border-left: 5px solid darkorange;
    border-top: 0;
  }

  body .wrapper #footer {
    min-width: 100.1%;
  }
}

/* Medium Devices, Desktops */

/* Large Devices, Wide Screens */
@font-face {
  font-family: 'Zhafira';
  src: url("assets/fonts/MJF Zhafira Demo.ttf");
}

@font-face {
  font-family: 'Sunny';
  src: url("assets/fonts/Sunny Spring Day - TTF.ttf");
}

@font-face {
  font-family: 'OpenSans';
  src: url("assets/fonts/OpenSans-Regular.ttf");
}

* > hr {
  border: 1px solid whitesmoke;
}

a:hover {
  text-decoration: none;
}

* > input {
  border: 1px 2px solid silver !important;
  border-radius: 5px !important;
  background-color: #96cc96 !important;
}

ul {
  list-style-type: none;
}

.btn {
  height: 36px;
  border: 2px solid silver;
}

.btn h5 {
  color: darkorange;
  font-family: 'OpenSans', serif;
  font-weight: bold;
  font-size: 16px;
  text-shadow: -1px 1px black;
  margin-top: 1px;
}

.full-width {
  min-width: 100%;
}

.add-form div form button.btn.btn-success {
  float: right;
  border: 2px solid #000000;
  margin: 5px;
  width: 33%;
  height: 30px;
  color: #9AC540;
  font-weight: bold;
  font-size: 16px;
}

.add-form div form button.btn.btn-success h5 {
  margin-top: -2px;
}

.add-form div form #myEditor {
  margin-left: 30%;
}

ul.droppable {
  border: 2px solid black !important;
  border-radius: 3px;
  width: 100%;
  height: 50px;
}

.add-form div .add-title {
  border: 2px solid #000000 !important;
  width: 62%;
}



@font-face {
  font-family: 'Zhafira';
  src: url("components/assets/fonts/MJF Zhafira Demo.ttf");
}

@font-face {
  font-family: 'Sunny';
  src: url("components/assets/fonts/Sunny Spring Day - TTF.ttf");
}

@font-face {
  font-family: 'OpenSans';
  src: url("components/assets/fonts/OpenSans-Regular.ttf");
}

* > hr {
  border: 1px solid whitesmoke;
}

a:hover {
  text-decoration: none;
}

* > input {
  border: 1px 2px solid silver !important;
  border-radius: 5px !important;
  background-color: #96cc96 !important;
}

ul {
  list-style-type: none;
}

.btn {
  height: 36px;
  border: 2px solid silver;
}

.btn h5 {
  color: darkorange;
  font-family: 'OpenSans', serif;
  font-weight: bold;
  font-size: 16px;
  text-shadow: -1px 1px black;
  margin-top: 1px;
}

.full-width {
  min-width: 100%;
}

.wrapper #footer {
  padding-top: 15px;
  padding-left: 15px;
  color: darkorange;
  min-height: 150px;
  max-height: 150px;
  background-color: #001020;
  background-image: url("assets/images/staff/bg.jpg");
  background-repeat: no-repeat;
  background-size: 800%;
}

.wrapper #footer .footer-contant h5 {
  float: right;
  padding-right: 1.3em;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

/* Extra Small Devices, Phones */

/* Small Devices, Tablets */

/* Medium Devices, Desktops */

/* Large Devices, Wide Screens */

@font-face {
  font-family: 'Zhafira';
  src: url("components/assets/fonts/MJF Zhafira Demo.ttf");
}

@font-face {
  font-family: 'Sunny';
  src: url("components/assets/fonts/Sunny Spring Day - TTF.ttf");
}

@font-face {
  font-family: 'OpenSans';
  src: url("components/assets/fonts/OpenSans-Regular.ttf");
}

* > hr {
  border: 1px solid whitesmoke;
}

a:hover {
  text-decoration: none;
}

* > input {
  border: 1px 2px solid silver !important;
  border-radius: 5px !important;
  background-color: #96cc96 !important;
}

ul {
  list-style-type: none;
}

.btn {
  height: 36px;
  border: 2px solid silver;
}

.btn h5 {
  color: darkorange;
  font-family: 'OpenSans', serif;
  font-weight: bold;
  font-size: 16px;
  text-shadow: -1px 1px black;
  margin-top: 1px;
}

.full-width {
  min-width: 100%;
}

#navbar-links {
  background-color: #001020;
}

#profile-link {
  margin-top: -7px;
  margin-left: 35px;
  border: 3px solid silver;
  border-radius: 25%;
}

#profile-link:hover {
  border-color: darkorange;
}

#profile-a:focus {
  border-color: darkorange;
}

.wrapper #header nav.navbar.nav-header {
  padding-top: 10px;
  background-color: #001020;
  background-image: url("assets/images/staff/bg.jpg");
  background-repeat: no-repeat;
  background-size: 300%;
  border-left: 15px solid darkorange;
  border-right: 15px solid darkorange;
  border-radius: 0;
}

.wrapper #header nav.navbar.nav-header .nav-colapse-btn {
  background-color: darkolivegreen;
  margin-left: -11px;
}

.wrapper #header nav.navbar.nav-header .nav-colapse-btn .icon-bar {
  background-color: darkorange;
}

.wrapper #header nav.navbar.nav-header .main-link {
  max-height: 40px;
  margin-top: 7px;
  margin-left: 20px;
  font-family: 'OpenSans', serif;
  font-weight: bold;
  font-size: 19px;
  color: silver;
  background-color: black;
}

.wrapper #header nav.navbar.nav-header .main-link:hover {
  color: darkorange;
}

.wrapper #header nav.navbar.nav-header .main-link:focus {
  color: darkorange;
}

.wrapper #header nav.navbar.nav-header #brand {
  margin-left: 5px;
  font-family: 'Zhafira', serif;
  color: darkolivegreen;
  text-shadow: -1px 1px darkorange;
  font-size: 42px;
}

.wrapper #header nav.navbar.nav-header #brand:hover {
  color: silver;
  text-shadow: -1px 1px whitesmoke;
}

.wrapper #header nav.navbar.nav-header .nav-right {
  float: right;
  margin-right: 0.5em;
}

.wrapper #header nav.navbar.nav-header .nav-right li.dropdown > ul > li > a {
  color: silver;
  text-shadow: -1px 1px black;
}

.wrapper #header nav.navbar.nav-header .nav-right li.dropdown > ul > li > a:hover {
  background-color: silver;
}

.wrapper #header nav.navbar.nav-header .menu-dropdown {
  background-color: #001020;
  border: 2px solid silver;
  border-radius: 5px;
  margin-left: -3em;
  max-width: 22%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*==========  Mobile First Method  ==========*/

@media only screen and (min-width: 768px) {
  .wrapper #header nav.navbar.nav-header .main-link {
    background-color: transparent;
  }

  .wrapper #header nav.navbar.nav-header .menu-dropdown {
    max-width: 100%;
    margin-left: -3.7em;
    margin-top: 1px;
  }
}

.object-collection {
  width: 96%;
  padding-top: 25px;
}

.object-collection .obj-col-article {
  border: 2px solid darkorange;
  background-image: url("assets/images/staff/bg.jpg");
  background-repeat: no-repeat;
  background-size: 1800%;
  padding: 5px;
  margin-bottom: 11px;
  margin-right: 111px;
  width: 97%;
  height: 380px;
  display: inline-block;
}

.object-collection .obj-col-article a h4 {
  color: silver;
}

.object-collection div {
  text-align: center;
  text-shadow: -1px 1px #6FA7D7;
  color: whitesmoke;
}

.object-collection div .span-val {
  margin-right: 10px;
}

@media only screen and (min-width: 200px) {
  .object-collection .obj-col-article {
    margin-right: 1.4em;
    width: 100%;
  }
}

@media only screen and (min-width: 320px) {
  .object-collection .obj-col-article .obj-col-article-text a .obj-col-article-img {
    height: 280px;
  }
}

@media only screen and (min-width: 580px) {
  .object-collection .obj-col-article {
    width: 45%;
  }
}

@media only screen and (min-width: 768px) {
  .object-collection {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .object-collection .obj-col-article {
    width: 29%;
  }
}




