/*==========  Mobile First Method  ==========*/

#loading {
  margin-left: 45%;
  margin-top: 280px;
}

body {
  background-color: #FFE2AD;
  color: #FFE2AD;
  font-size: 16px;
  text-align: justify;
}

body .wrapper .middle {
  padding-top: 80px;
}

body .wrapper .middle #content,
body .wrapper .middle #content-aside {
  min-height: 600px;
  background-color: #00102C;
  padding: 5px;
  padding-right: 19px;
  padding-left: 19px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body .wrapper .middle #content {
  border-left: 15px solid #FFE2AD;
  border-right: 15px solid #FFE2AD;
}

body .wrapper .middle #content-aside {
  border-left: 15px solid #FFE2AD;
  border-right: 15px solid #FFE2AD;
  border-top: 5px solid #FFE2AD;
}

body .wrapper #footer {
  background-color: transparent;
  border-top: 15px solid #FFE2AD;
  color: #FFE2AD;
  margin-left: -1px;
  min-height: 150px;
  min-width: 100.3%;
}

/* Custom, iPhone Retina */

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  body .wrapper #footer {
    min-width: 100%;
  }
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  body .wrapper .middle #content {
    border-right: 5px solid #FFE2AD;
  }

  body .wrapper .middle #content-aside {
    border-left: 5px solid #FFE2AD;
    border-top: 0;
  }

  body .wrapper #footer {
    min-width: 100.1%;
  }
}

/* Medium Devices, Desktops */

/* Large Devices, Wide Screens */
@font-face {
  font-family: 'Zhafira';
  src: url("assets/fonts/MJF Zhafira Demo.ttf");
}

@font-face {
  font-family: 'Sunny';
  src: url("assets/fonts/Sunny Spring Day - TTF.ttf");
}

@font-face {
  font-family: 'OpenSans';
  src: url("assets/fonts/OpenSans-Regular.ttf");
}

* > hr {
  border: 1px solid #FFFBD0 !important;
}

.hidden-obj {
  visibility: hidden;
}

a:hover {
  text-decoration: none;
}

* > input {
  border-radius: 5px !important;
  background-color: whitesmoke !important;
}

ul {
  list-style-type: none;
}

.btn {
  height: 36px;
}

.btn h5 {
  color: #FFE2AD;
  font-family: 'OpenSans', serif;
  font-weight: bold;
  font-size: 16px;
  text-shadow: -1px 1px black;
  margin-top: 1px;
}

.full-width {
  min-width: 100%;
}
#about-container a {
  color: #FFC44E;
  font-weight: bold;
  font-size: 18px;
}

#about-container p p ul li.team-members {
  margin: 3px;
}
form input {
  color: midnightblue;
}

.add-form div form button.btn.btn-success {
  float: right;
  border: 2px solid #000000;
  margin: 5px;
  width: 33%;
  height: 30px;
  color: #9AC540;
  font-weight: bold;
  font-size: 16px;
}

.add-form div form button.btn.btn-success h5 {
  margin-top: -2px;
  width: 30%;
}

ul.droppable {
  border: 2px solid black !important;
  border-radius: 3px;
  width: 100%;
  height: 50px;
}

.add-form div .add-title {
  border: 2px solid #000000 !important;
  width: 62%;
}
.aside a h6 {
  color: #FFE2AD;
  text-shadow: -1px 1px #000;
  font-size: 16px;
  margin-top: 0;
}

#contact-us-msg-container {
  border: 1px solid #FFE2AD;
  border-radius: 5px;
}
@font-face {
  font-family: 'Zhafira';
  src: url("components/assets/fonts/MJF Zhafira Demo.ttf");
}

@font-face {
  font-family: 'Sunny';
  src: url("components/assets/fonts/Sunny Spring Day - TTF.ttf");
}

@font-face {
  font-family: 'OpenSans';
  src: url("components/assets/fonts/OpenSans-Regular.ttf");
}

* > hr {
  border: 1px solid #FFFBD0 !important;
}

.hidden-obj {
  visibility: hidden;
}

a:hover {
  text-decoration: none;
}

* > input {
  border-radius: 5px !important;
  background-color: whitesmoke !important;
}

ul {
  list-style-type: none;
}

.btn {
  height: 36px;
}

.btn h5 {
  color: #FFE2AD;
  font-family: 'OpenSans', serif;
  font-weight: bold;
  font-size: 16px;
  text-shadow: -1px 1px black;
  margin-top: 1px;
}

.full-width {
  min-width: 100%;
}

.wrapper #footer {
  padding-top: 15px;
  padding-left: 15px;
  color: darkorange;
  min-height: 150px;
  max-height: 150px;
  background-color: #001020;
  background-image: url("assets/images/staff/bg.jpg");
  background-repeat: no-repeat;
  background-size: 800%;
}

.wrapper #footer .footer-content img {
  margin-left: 35%;
  pargin-top: -20px;
}

.wrapper #footer .footer-content h5 {
  float: right;
  padding-right: 1.3em;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

/* Extra Small Devices, Phones */

/* Small Devices, Tablets */

/* Medium Devices, Desktops */

/* Large Devices, Wide Screens */

@font-face {
  font-family: 'Zhafira';
  src: url("components/assets/fonts/MJF Zhafira Demo.ttf");
}

@font-face {
  font-family: 'Sunny';
  src: url("components/assets/fonts/Sunny Spring Day - TTF.ttf");
}

@font-face {
  font-family: 'OpenSans';
  src: url("components/assets/fonts/OpenSans-Regular.ttf");
}

* > hr {
  border: 1px solid #FFFBD0 !important;
}

.hidden-obj {
  visibility: hidden;
}

a:hover {
  text-decoration: none;
}

* > input {
  border-radius: 5px !important;
  background-color: whitesmoke !important;
}

ul {
  list-style-type: none;
}

.btn {
  height: 36px;
}

.btn h5 {
  color: #FFE2AD;
  font-family: 'OpenSans', serif;
  font-weight: bold;
  font-size: 16px;
  text-shadow: -1px 1px black;
  margin-top: 1px;
}

.full-width {
  min-width: 100%;
}

#navbar-links {
  background-color: #00102C;
}

#profile-link {
  margin-top: -2px;
  margin-left: 35px;
  border: 3px solid transparent;
  border-radius: 25%;
}

#profile-link:hover {
  border-color: darkorange;
}

#profile-a:focus {
  border-color: silver;
}

.wrapper #header nav.navbar.nav-header {
  padding-top: 10px;
  background-color: #00102C;
  background-image: url("assets/images/staff/bg.jpg");
  background-repeat: no-repeat;
  background-size: 300%;
  border-left: 15px solid #FFE2AD;
  border-right: 15px solid #FFE2AD;
  border-radius: 0;
}

.wrapper #header nav.navbar.nav-header .nav-colapse-btn {
  background-color: #00102C;
  margin-left: -11px;
}

.wrapper #header nav.navbar.nav-header .nav-colapse-btn .icon-bar {
  background-color: #FFE2AD;
}

.wrapper #header nav.navbar.nav-header .main-link {
  max-height: 40px;
  margin-top: 7px;
  margin-left: 20px;
  font-family: 'OpenSans', serif;
  font-weight: bold;
  font-size: 19px;
  color: #FFE2AD;
  background-color: black;
}

.wrapper #header nav.navbar.nav-header .main-link:hover {
  color: #ff8c00;
}

.wrapper #header nav.navbar.nav-header .main-link:focus {
  color: #ff8c00;
}

.wrapper #header nav.navbar.nav-header #brand {
  margin-left: 5px;
  font-family: 'Zhafira', serif;
  color: #ff8c00;
  text-shadow: -1px 1px #FFE2AD;
  font-size: 42px;
}

.wrapper #header nav.navbar.nav-header #brand:hover {
  color: silver;
  text-shadow: -1px 1px whitesmoke;
}

.wrapper #header nav.navbar.nav-header .nav-right {
  float: right;
  margin-right: 0.5em;
}

.wrapper #header nav.navbar.nav-header .nav-right li.dropdown > ul > li > a {
  color: #FFE2AD;
  text-shadow: -1px 1px black;
}

.wrapper #header nav.navbar.nav-header .nav-right li.dropdown > ul > li > a:hover {
  color: silver;
  background-color: silver;
}

.wrapper #header nav.navbar.nav-header .menu-dropdown {
  background-color: #00102C;
  border: 2px solid #FFE2AD;
  border-radius: 5px;
  margin-left: -3em;
  max-width: 22%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*==========  Mobile First Method  ==========*/

@media only screen and (min-width: 768px) {
  .wrapper #header nav.navbar.nav-header .main-link {
    background-color: transparent;
  }

  .wrapper #header nav.navbar.nav-header .menu-dropdown {
    max-width: 100%;
    margin-left: -3.7em;
    margin-top: 1px;
  }
}
#home-container {
  text-align: center;
}

#home-container img {
  width: 100%;
}
.object-collection {
  width: 96%;
  padding-top: 25px;
}

.object-collection .obj-col-article {
  border: 2px solid #FFE2AD;
  border-radius: 5px;
  background-image: url("assets/images/staff/bg.jpg");
  background-repeat: no-repeat;
  background-size: 1800%;
  padding: 5px;
  margin-bottom: 11px;
  margin-right: 111px;
  width: 97%;
  height: 380px;
  display: inline-block;
}

.object-collection .obj-col-article a h4 {
  color: #FFE2AD;
}

.object-collection div {
  text-align: center;
  color: #FFE2AD;
}

.object-collection div .span-val {
  margin-right: 10px;
}

@media only screen and (min-width: 200px) {
  .object-collection .obj-col-article {
    margin-right: 1.4em;
    width: 100%;
  }
}

@media only screen and (min-width: 320px) {
  .object-collection .obj-col-article .obj-col-article-text a .obj-col-article-img {
    height: 280px;
  }
}

@media only screen and (min-width: 580px) {
  .object-collection .obj-col-article {
    width: 45%;
  }
}

@media only screen and (min-width: 768px) {
  .object-collection {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .object-collection .obj-col-article {
    width: 29%;
  }
}
@charset "UTF-8";

.add-new {
  color: darkorange;
  text-shadow: -1px 1px black;
}

.single-object div а.add-new {
  float: right !important;
}

.liked {
  color: #FFFBD0;
}
/* USER PROFILE PAGE */

.card {
  border: 2px solid darkorange;
  border-bottom: silver;
  margin-top: 20px;
  padding: 30px;
  padding-left: 0;
  background-color: rgba(214, 224, 226, 0.2);
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  background-color: white;
}

.card.hovercard .card-background {
  height: 130px;
}

.card-background img {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  margin-left: -100px;
  margin-top: -200px;
  min-width: 130%;
}

.card.hovercard .useravatar {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
}

.card.hovercard .useravatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 25%;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.card.hovercard .card-info {
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
}

.card.hovercard .card-info .card-title {
  padding: 0 5px;
  font-size: 20px;
  line-height: 1;
  color: darkorange;
  font-size: 24px;
  text-shadow: -1px 1px black;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.card.hovercard .card-info {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .card-info #file-upload {
  margin-left: 58%;
  margin-top: 15px;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

.btn-pref .btn {
  border-radius: 2px;
  height: 50px;
  color: #191970;
  font-size: 18px;
}

.btn-pref .btn:focus {
  color: #FFC44E;
  font-weight: bold;
}

.well {
  border: 2px solid silver;
  min-height: 300px;
  background-color: #96cc96;
  color: #191970;
}

.well label {
  color: silver;
  padding: 2px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.well h4 {
  display: inline-block;
}

