/*==========  Mobile First Method  ==========*/

body {
  background-color: darkorange;
  color: silver;
  text-align: justify;
}

body .wrapper .middle {
  padding-top: 50px;
}

body .wrapper .middle #content,
body .wrapper .middle #content-aside {
  border-left: 15px solid #ff8c00;
  border-right: 15px solid #ff8c00;
  min-height: 600px;
  background-color: #556b2f;
  opacity: 0.9;
  padding: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body .wrapper .middle #content {
  padding-left: 15px;
}

body .wrapper #footer {
  background-color: transparent;
  color: #ff8c00;
  margin-left: -1px;
  min-height: 150px;
  min-width: 100.3%;
}

/* Custom, iPhone Retina */

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  body .wrapper #footer {
    min-width: 100%;
  }
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  body .wrapper .middle #content-aside {
    border-left: 0;
  }

  body .wrapper #footer {
    min-width: 100.1%;
  }
}

/* Medium Devices, Desktops */

/* Large Devices, Wide Screens */
@font-face {
  font-family: 'Zhafira';
  src: url("assets/fonts/MJF Zhafira Demo.ttf");
}

@font-face {
  font-family: 'Sunny';
  src: url("assets/fonts/Sunny Spring Day - TTF.ttf");
}

* > hr {
  border: 1px solid #96cc96;
}

a:hover {
  text-decoration: none;
}

* > input {
  border: 1px solid darkorange !important;
  border-radius: 3px !important;
  background-color: #96cc96 !important;
}

ul {
  list-style-type: none;
}



@font-face {
  font-family: 'Zhafira';
  src: url("components/assets/fonts/MJF Zhafira Demo.ttf");
}

@font-face {
  font-family: 'Sunny';
  src: url("components/assets/fonts/Sunny Spring Day - TTF.ttf");
}

* > hr {
  border: 1px solid #96cc96;
}

a:hover {
  text-decoration: none;
}

* > input {
  border: 1px solid darkorange !important;
  border-radius: 3px !important;
  background-color: #96cc96 !important;
}

ul {
  list-style-type: none;
}

.wrapper #footer {
  padding-top: 15px;
  padding-left: 15px;
  color: darkorange;
  min-height: 150px;
  max-height: 150px;
  background-color: #001020;
  background-image: url("assets/images/space-bg.jpg");
  background-repeat: no-repeat;
  background-size: 800%;
  border-top: 2px solid darkorange;
}

.wrapper #footer .footer-contant h5 {
  float: right;
  padding-right: 1.3em;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

/* Extra Small Devices, Phones */

/* Small Devices, Tablets */

/* Medium Devices, Desktops */

/* Large Devices, Wide Screens */
@font-face {
  font-family: 'Zhafira';
  src: url("components/assets/fonts/MJF Zhafira Demo.ttf");
}

@font-face {
  font-family: 'Sunny';
  src: url("components/assets/fonts/Sunny Spring Day - TTF.ttf");
}

* > hr {
  border: 1px solid #96cc96;
}

a:hover {
  text-decoration: none;
}

* > input {
  border: 1px solid darkorange !important;
  border-radius: 3px !important;
  background-color: #96cc96 !important;
}

ul {
  list-style-type: none;
}

.wrapper #header nav.navbar.nav-header {
  height: 50px;
  background-color: #001020;
  background-image: url("assets/images/space-bg.jpg");
  border: 0;
  border-radius: 0;
}

.wrapper #header nav.navbar.nav-header .nav-colapse-btn {
  background-color: darkolivegreen;
}

.wrapper #header nav.navbar.nav-header .nav-colapse-btn .icon-bar {
  background-color: darkorange;
}

.wrapper #header nav.navbar.nav-header .main-link {
  max-height: 40px;
  margin-top: 5px;
  margin-left: 20px;
  font-family: 'Sunny', serif;
  font-weight: bold;
  font-size: 28px;
  color: darkorange;
  background-color: black;
}

.wrapper #header nav.navbar.nav-header .main-link:hover {
  color: silver;
}

.wrapper #header nav.navbar.nav-header .main-link:focus {
  color: silver;
}

.wrapper #header nav.navbar.nav-header #brand {
  margin-left: 5px;
  font-family: 'Zhafira', serif;
  color: darkolivegreen;
  text-shadow: -1px 1px darkorange;
  font-size: 38px;
}

.wrapper #header nav.navbar.nav-header #brand:hover {
  color: silver;
  text-shadow: -1px 1px whitesmoke;
}

.wrapper #header nav.navbar.nav-header .nav-right {
  float: right;
  margin-right: 0.5em;
}

.wrapper #header nav.navbar.nav-header .nav-right li.dropdown > ul > li > a {
  color: silver;
  text-shadow: -1px 1px black;
}

.wrapper #header nav.navbar.nav-header .nav-right li.dropdown > ul > li > a:hover {
  background-color: silver;
}

.wrapper #header nav.navbar.nav-header .menu-dropdown {
  background-color: #000000;
  border: 2px solid darkorange;
  border-radius: 5px;
  margin-left: -3em;
  max-width: 22%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*==========  Mobile First Method  ==========*/

@media only screen and (min-width: 768px) {
  .wrapper .header nav.navbar.nav-header .main-link {
    background-color: transparent;
  }

  .wrapper .header nav.navbar.nav-header .nav-right li.dropdown > ul > li > a {
    color: darkolivegreen;
    text-shadow: -1px 1px black;
  }

  .wrapper .header nav.navbar.nav-header .nav-right li.dropdown > ul > li > a:hover {
    background-color: silver;
  }

  .wrapper .header nav.navbar.nav-header .menu-dropdown {
    max-width: 100%;
    margin-left: -3.2em;
    background-color: #96cc96;
  }
}






