/*==========  Mobile First Method  ==========*/

$colors-main: #FFFBD0;

#loading {
	margin-left: 45%;
	margin-top: 280px;
}

body {
	background-color: $colors-main;
	color: #FFFBD0;
	font-size: 16px;
	text-align: justify;

	.wrapper {
		#header {

		}
		.middle {
			padding-top: 80px;

			#content, #content-aside {
				min-height: 600px;
				background-color: #00102C;
				padding: 5px;
				padding-right: 19px;
				padding-left: 19px;
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			}

			#content {
				border-left: 15px solid $colors-main;
				border-right: 15px solid $colors-main;
			}
			
			#content-aside {
				border-left: 15px solid $colors-main;
				border-right: 15px solid $colors-main;
				border-top: 5px solid $colors-main;
			}
		}

		#footer {
			background-color: transparent;
			border-top: 15px solid $colors-main;
			color: $colors-main;
			margin-left: -1px;
			min-height: 150px;
			min-width: 100.3%;
		}
	}
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	body {
		.wrapper {
			#header {

			}
			.middle {
				#content, #content-aside {
				}
				#content {
				}
				#content-aside {
				}
			}
			#footer {
			}
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	body {
		.wrapper {
			#header {

			}
			.middle {
				#content, #content-aside {
				}
				#content {
				}
				#content-aside {
				}
			}
			#footer {
			min-width: 100%;
			}
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	body {
		.wrapper {
			#header {

			}
			.middle {
				#content, #content-aside {
				}
				#content {
				border-right: 5px solid $colors-main;
				}
				#content-aside {
				border-left: 5px solid $colors-main;
				border-top: 0;
				}
			}
			#footer {
			min-width: 100.1%;
			}
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	body {
		.wrapper {
			#header {

			}
			.middle {
				#content, #content-aside {
				}
				#content {
				}
				#content-aside {
				}
			}
			#footer {
			}
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	body {
		.wrapper {
			#header {

			}
			.middle {
				#content, #content-aside {
				}
				#content {
				}
				#content-aside {
				}
			}
			#footer {
			}
		}
	}
}