@font-face {
  font-family: 'Zhafira';
  src: url("../assets/fonts/MJF Zhafira Demo.ttf"); }

@font-face {
  font-family: 'Sunny';
  src: url("../assets/fonts/Sunny Spring Day - TTF.ttf"); }

* > hr {
  border: 1px solid #96cc96; }

a:hover {
  text-decoration: none; }

* > input {
  border: 1px solid darkorange !important;
  border-radius: 3px !important;
  background-color: #96cc96 !important; }

ul {
  list-style-type: none; }

.wrapper #footer {
  padding-top: 15px;
  padding-left: 15px;
  color: darkorange;
  min-height: 150px;
  max-height: 150px;
  background-color: #001020;
  background-image: url("../../assets/images/space-bg.jpg");
  background-repeat: no-repeat;
  background-size: 800%;
  border-top: 2px solid darkorange; }
  .wrapper #footer .footer-contant h5 {
    float: right;
    padding-right: 1.3em; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
